:root {
  // font
  --font-family: Roboto !important;

  // spacing
  --spacing-base: 4px;

  // border radius
  --small-radius: 4px;
  --medium-radius: 8px;
  --global-radius: 12px;
  --large-radius: 16px;
  --rounded-radius: 50%;
}
